{{!-- https://www.w3schools.com/html/html_tables.asp --}}
{{!-- TODO: check the scroll behavior when there are a lot of records --}}
<div style="max-height: 40rem; overflow-y:hidden">
    <table class="table is-fullwidth centered__table is-striped is-narrow">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
    {{#each viewData.users}}
    {{#if (eq this.username ../viewData.username)}}
        <tr class="is-selected">
    {{else}}
        <tr>
    {{/if }}
            <td>{{this._id}}</td>
            <td>{{this.data.name}}</td>
            <td>{{this.pos.lat}}</td>
            <td>{{this.pos.lon}}</td>
            <td>{{this.categories.length}}{{else}}0{{/if}}</td>
            <td>
            <a href="/user?userid={{this._id}}" class="button list-button">{{>svg/point }}</a>
            <a href="/user?userid={{this._id}}" class="button list-button">{{>svg/delete }}</a>
            </td>
        </tr>
    {{/each }}
    </table>
</div>